    <div id="control_panel">
      <h2>Control Panel</h2>
      <ul>
        <li>
          <a href="/program?height=320&width=550" class="thickbox">Write / Load Program</a>
        </li>
        <li>...</li>
        <li>
          <form method="post" action="/program/start">
            <input type="submit" disabled="true" id="initialize_program" value="Initialize program" />
          </form>
        </li>
        <li>
          <form method="get" action="#">
            <% if @emulator.program_counter.nil? %>
            <input type="submit" disabled="true" value="Machine Cycle" />
            <% else %>
            <input type="submit" value="Machine Cycle" />
            <% end %>
          </form>
        </li>
        <li>
          <form method="get" action="#">
            <input type="submit" value="Clear / Restart" />
          </form>
        </li>
      </ul>
    </div>
