    <div id="control_panel">
      <h2>Control Panel</h2>
      <ul>
        <li>
          <a href="#TB_inline?height=300&width=600&inlineId=write_program" class="thickbox">Write / Load Program</a>
        </li>
        <li>...</li>
        <li>
          <form method="get" action="#">
            <input type="submit" disabled="true" value="Initialize program" />
          </form>
        </li>
        <li>
          <form method="get" action="#">
            <input type="submit" disabled="true" value="Machine Cycle" />
          </form>
        </li>
        <li>
          <form method="get" action="#">
            <input type="submit" value="Clear / Restart" />
          </form>
        </li>
      </ul>
    </div>
    <div id="write_program" style="display:none;">
      <p>Balls...</p>
      <p>Balls...</p>
      <p>Balls...</p>
      <p>Balls...</p>
    </div>
