<h3>LANGUAGE SPECIFICATION</h3>
<ol>
  <li>
    <h4>Disclaimer</h4>
    <p>The machine language implemented into Bolverk is based largely on the language described
    in Appendix B of the textbook "Computer Science: An Overview" by J. Glenn Brookshear (ISBN
    0-8053-0264-6).</p>
    <p>I have changed and added things wherever I saw fit.</p>
  </li>
  <li>
    <h4>Notes</h4>
    <p>Each operand consists of hexadecimal digits. R, S and T represtent registers whereas X and Y
    represent non-register values (such as a memory cell).</p>
  </li>
  <li>
    <h4>Operations</h4>
    <table border="0" cellpadding="0" cellspacing="0" id="operations_list">
      <tr>
        <th>Op-Code</th>
        <th>Operand</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>1</td>
        <td>XST</td>
        <td>fdfg dg fdgdfgfd gdfg dfgdfh jtrdv  h</td>
      </tr>
    </table>
  </li>
</ol>
