    <div id="legend">
      <h2>Legend</h2>
      <ul class="clearfix">
        <li>
          <div class="empty_cell"></div> <label>Empty cell</label>
        </li>
        <li>
          <div class="populated_cell"></div> <label>Populated cell</label>
        </li>
        <li>
          <div class="program_cell"></div> <label>Cells to be executed</label>
        </li>
        <li>
          <div class="selected_cell"></div> <label>Selected cell</label>
        </li>
      </ul>
    </div>
