<h3>New Program</h3>
<div id="thickbox_error_container"></div>
<p>To store a program in the emulator, write the machine instructions below in a space-delimited list.</p>
<div class="tip"><span>Remember:</span> Each instruction is 16-bits and therefore requires two cells of main memory.</div>
<form class="frm" id="program_form" method="post" action="/program">
  <ul>
    <li class="clearfix">
      <label for="cell">Starting cell:<label>
      <%= render_cell_select_box %>
    </li>
    <li class="clearfix">
      <label for="instructions">Instructions:<label>
      <textarea name="instructions" id="instructions" class="new_program" rows="5" cols="40"></textarea>
    </li>
    <li class="last"><input type="submit" name="submit" value="Insert" /></li>
  </ul>
</form>
